Repository PaddlePaddle/PaddleNLP, pull requests merged in 2021-12, with the labels that each got.

#1393 Fix add_bias_input in FT.
  paddlenlp/ops/patches/FasterTransformer/fastertransformer/cuda/transformer_kernels.cu
Labels: faster

#1392 Refine some remain issue in hf beam search
  paddlenlp/ops/faster_transformer/transformer/decoding.py
  paddlenlp/ops/patches/FasterTransformer/fastertransformer/cuda/online_softmax_beamsearch_kernels.cu
  paddlenlp/ops/patches/FasterTransformer/fastertransformer/decoding_beamsearch.h
Labels: faster

#870 Add Reformer Model
  examples/text_generation/reformer/README.md
  examples/text_generation/reformer/demo.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/reformer/__init__.py
  paddlenlp/transformers/reformer/modeling.py
  paddlenlp/transformers/reformer/tokenizer.py
Labels: contributions

#1373 Optimize FT Encoder performance
  paddlenlp/ops/CMakeLists.txt
  paddlenlp/ops/faster_transformer/src/cublas_handle.cc
  paddlenlp/ops/faster_transformer/src/cublas_handle.h
  paddlenlp/ops/faster_transformer/src/fusion_decoding_op.cu
  paddlenlp/ops/faster_transformer/src/fusion_encoder_op.cc
  paddlenlp/ops/faster_transformer/src/fusion_encoder_op.cu
  paddlenlp/ops/faster_transformer/transformer/encoder.py
  paddlenlp/ops/patches/FasterTransformer/fastertransformer/bert_encoder_transformer.h
  paddlenlp/ops/patches/FasterTransformer/fastertransformer/standard_encoder.h
Labels: faster

#1374 support AMP for In-batch Negatives
  examples/semantic_indexing/train_batch_neg.py
Labels: faster

#1160 add mobilebert model
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/mobilebert/__init__.py
  paddlenlp/transformers/mobilebert/modeling.py
  paddlenlp/transformers/mobilebert/tokenizer.py
Labels: contributions, transformers

#1362 Add LayoutLMModel
  examples/multimodal/layoutlm/README.md
  examples/multimodal/layoutlm/funsd.py
  examples/multimodal/layoutlm/preprocess.py
  examples/multimodal/layoutlm/preprocess.sh
  examples/multimodal/layoutlm/train_funsd.py
  examples/multimodal/layoutlm/train_funsd.sh
  examples/multimodal/layoutlm/utils.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/layoutlm/__init__.py
  paddlenlp/transformers/layoutlm/modeling.py
  paddlenlp/transformers/layoutlm/tokenizer.py
Labels: transformers

#1351 Support segmented inputs for ddparser
  docs/model_zoo/taskflow.md
  paddlenlp/taskflow/dependency_parsing.py
  paddlenlp/taskflow/taskflow.py
Labels: taskflow

#1100 add model chinesebert
  examples/language_model/chinesebert/README.md
  examples/language_model/chinesebert/cmrc_eval.sh
  examples/language_model/chinesebert/cmrc_evaluate.py
  examples/language_model/chinesebert/dataset_cmrc2018.py
  examples/language_model/chinesebert/eval_cmrc.py
  examples/language_model/chinesebert/metric_cmrc.py
  examples/language_model/chinesebert/run_chn.sh
  examples/language_model/chinesebert/run_cmrc2018.sh
  examples/language_model/chinesebert/run_xnli.sh
  examples/language_model/chinesebert/train_chn.py
  examples/language_model/chinesebert/train_cmrc2018.py
  examples/language_model/chinesebert/train_xnli.py
  examples/language_model/chinesebert/utils.py
  paddlenlp/transformers/chinesebert/__init__.py
  paddlenlp/transformers/chinesebert/modeling.py
  paddlenlp/transformers/chinesebert/tokenizer.py
Labels: contributions

#1133 [PaddlePaddle Hackathon] 55题 提交
  community/nosaydomore/convert_roberta.py
  community/nosaydomore/deepset_roberta_base_squad2/README.md
  community/nosaydomore/deepset_roberta_base_squad2/files.json
  community/nosaydomore/roberta_en_base/README.md
  community/nosaydomore/roberta_en_base/files.json
  community/nosaydomore/roberta_en_large/README.md
  community/nosaydomore/roberta_en_large/files.json
  community/nosaydomore/sshleifer_tiny_distilroberta_base/README.md
  community/nosaydomore/sshleifer_tiny_distilroberta_base/files.json
  community/nosaydomore/uer_roberta_base_chinese_extractive_qa/README.md
  community/nosaydomore/uer_roberta_base_chinese_extractive_qa/files.json
  community/nosaydomore/uer_roberta_base_finetuned_chinanews_chinese/README.md
  community/nosaydomore/uer_roberta_base_finetuned_chinanews_chinese/files.json
  community/nosaydomore/uer_roberta_base_finetuned_cluener2020_chinese/README.md
  community/nosaydomore/uer_roberta_base_finetuned_cluener2020_chinese/files.json
  docs/model_zoo/transformers.rst
  paddlenlp/transformers/roberta/modeling.py
  paddlenlp/transformers/roberta/tokenizer.py
  tests/transformers/roberta/__init__.py
  tests/transformers/roberta/test_modeling.py
  tests/transformers/roberta/test_tokenizer.py
Labels: contributions

#1420 Update usage of wordtag
  docs/model_zoo/taskflow.md
  examples/text_to_knowledge/ernie-ctm/README.md
  examples/text_to_knowledge/ernie-ctm/predict.py
  examples/text_to_knowledge/ernie-ctm/train.py
  paddlenlp/taskflow/knowledge_mining.py
  paddlenlp/taskflow/lexical_analysis.py
  paddlenlp/taskflow/named_entity_recognition.py
  paddlenlp/taskflow/utils.py
  paddlenlp/transformers/ernie_ctm/modeling.py
Labels: taskflow

#1383 Add plato-mini for taskflow
  docs/model_zoo/taskflow.md
  paddlenlp/taskflow/dialogue.py
  paddlenlp/taskflow/task.py
  paddlenlp/taskflow/taskflow.py
Labels: taskflow

#1419 funnel transformer
  examples/machine_reading_comprehension/SQuAD/run_squad.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/funnel/__init__.py
  paddlenlp/transformers/funnel/modeling.py
  paddlenlp/transformers/funnel/tokenizer.py
Labels: contributions

#1510 [ERNIE-M] Add ernie-m
  examples/language_model/ernie-m/README.md
  examples/language_model/ernie-m/framework.png
  examples/language_model/ernie-m/run_classifier.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/auto/modeling.py
  paddlenlp/transformers/auto/tokenizer.py
  paddlenlp/transformers/ernie_m/__init__.py
  paddlenlp/transformers/ernie_m/modeling.py
  paddlenlp/transformers/ernie_m/tokenizer.py
Labels: enhancement
