Repository PaddlePaddle/PaddleNLP, pull requests merged in 2022-10, with the labels that each got.

#3417 fix bug of debug mode
  model_zoo/uie/utils.py
Labels: bugfix

#3362 [prompt] add doc
  docs/advanced_guide/prompt.md
Labels: prompt

#3426 [few-shot] fix script for multi_class and fix input type for windows
  applications/text_classification/hierarchical/few-shot/infer.py
  applications/text_classification/multi_class/few-shot/README.md
  applications/text_classification/multi_class/few-shot/infer.py
  applications/text_classification/multi_label/few-shot/infer.py
Labels: bugfix

#3410 add qg example
  examples/README.md
  examples/question_generation/README.md
  examples/question_generation/t5/README.md
  examples/question_generation/t5/predict.py
  examples/question_generation/t5/requirements.txt
  examples/question_generation/t5/train.py
  examples/question_generation/t5/utils.py
  examples/question_generation/unimo-text/README.md
  examples/question_generation/unimo-text/deploy/paddle_inference/README.md
  examples/question_generation/unimo-text/deploy/paddle_inference/infer_utils.py
  examples/question_generation/unimo-text/deploy/paddle_inference/inference.py
  examples/question_generation/unimo-text/deploy/paddle_serving/README.md
  examples/question_generation/unimo-text/deploy/paddle_serving/config.yml
  examples/question_generation/unimo-text/deploy/paddle_serving/infer_utils.py
  examples/question_generation/unimo-text/deploy/paddle_serving/pipeline_client.py
  examples/question_generation/unimo-text/deploy/paddle_serving/pipeline_service.py
  examples/question_generation/unimo-text/export_model.py
  examples/question_generation/unimo-text/gen_utils.py
  examples/question_generation/unimo-text/predict.py
  examples/question_generation/unimo-text/requirements.txt
  examples/question_generation/unimo-text/train.py
Labels: question generation

#3439 Add multi type files index update example for pipelines
  pipelines/examples/semantic-search/README.md
  pipelines/pipelines/nodes/file_converter/docx.py
  pipelines/pipelines/utils/preprocessing.py
  pipelines/utils/offline_ann.py
Labels: enhancement, pipelines

#3430 Update FAQ Finance Paddle Serving dependencies
  applications/question_answering/faq_finance/README.md
  applications/question_answering/faq_finance/requirements.txt
Labels: question answering

#3432 Add batch prediction for pipelines
  pipelines/examples/semantic-search/semantic_search_example.py
  pipelines/pipelines/nodes/base.py
  pipelines/pipelines/nodes/ranker/base.py
  pipelines/pipelines/nodes/ranker/ernie_ranker.py
  pipelines/pipelines/nodes/retriever/base.py
  pipelines/pipelines/nodes/retriever/dense.py
  pipelines/pipelines/pipelines/base.py
  pipelines/pipelines/pipelines/standard_pipelines.py
  pipelines/pipelines/utils/__init__.py
Labels: enhancement, pipelines

#3438 add qg-taskflow
  docs/model_zoo/taskflow.md
  examples/question_generation/unimo-text/README.md
  paddlenlp/taskflow/question_generation.py
  paddlenlp/taskflow/taskflow.py
  paddlenlp/transformers/unimo/modeling.py
  paddlenlp/transformers/unimo/tokenizer.py
Labels: question generation

#3441 Update README.md and optimize DocPrompt postprocess
  docs/model_zoo/taskflow.md
  model_zoo/ernie-layout/README.md
  model_zoo/ernie-layout/README_ch.md
  model_zoo/ernie-layout/data_collator.py
  model_zoo/ernie-layout/deploy/python/README.md
  model_zoo/ernie-layout/deploy/python/README_ch.md
  model_zoo/ernie-layout/deploy/python/infer.py
  model_zoo/ernie-layout/deploy/python/predictor.py
  model_zoo/ernie-layout/deploy/python/requirements.txt
  model_zoo/ernie-layout/export_model.py
  model_zoo/ernie-layout/finetune_args.py
  model_zoo/ernie-layout/layout_trainer.py
  model_zoo/ernie-layout/requirements.txt
  model_zoo/ernie-layout/run_cls.py
  model_zoo/ernie-layout/run_mrc.py
  model_zoo/ernie-layout/run_ner.py
  model_zoo/ernie-layout/utils.py
  paddlenlp/datasets/hf_datasets/rvl_cdip_sampled.py
  paddlenlp/taskflow/document_intelligence.py
  paddlenlp/taskflow/task.py
  paddlenlp/taskflow/utils.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/auto/modeling.py
  paddlenlp/transformers/auto/tokenizer.py
  paddlenlp/transformers/ernie_layout/__init__.py
  paddlenlp/transformers/ernie_layout/modeling.py
  paddlenlp/transformers/ernie_layout/tokenizer.py
  paddlenlp/transformers/ernie_layout/visual_backbone.py
Labels: document intelligence

#3474 Update README.md
  model_zoo/ernie-layout/README.md
  model_zoo/ernie-layout/README_ch.md
Labels: document intelligence

#3271 Compression API supports strategy QAT
  docs/compression.md
  model_zoo/ernie-3.0/compress_qa.py
  paddlenlp/trainer/compression_args.py
  paddlenlp/trainer/trainer_compress.py
  paddlenlp/transformers/ofa_utils.py
Labels: model-compression

#3494 Update compression usage in multi-label classification
  applications/text_classification/multi_label/prune.py
Labels: model-compression

#3498 Add README.md for Document Intelligence
  applications/doc_vqa/Extraction/run_test.sh
  applications/doc_vqa/Extraction/run_train.sh
  applications/doc_vqa/run_test.sh
  applications/document_intelligence/README.md
  applications/document_intelligence/doc_vqa/.gitignore
  applications/document_intelligence/doc_vqa/Extraction/change_to_mrc.py
  applications/document_intelligence/doc_vqa/Extraction/docvqa.py
  applications/document_intelligence/doc_vqa/Extraction/model.py
  applications/document_intelligence/doc_vqa/Extraction/run_docvqa.py
  applications/document_intelligence/doc_vqa/Extraction/run_test.sh
  applications/document_intelligence/doc_vqa/Extraction/run_train.sh
  applications/document_intelligence/doc_vqa/Extraction/view.py
  applications/document_intelligence/doc_vqa/OCR_process/ocr_process.py
  applications/document_intelligence/doc_vqa/README.md
  applications/document_intelligence/doc_vqa/Rerank/change_to_rerank.py
  applications/document_intelligence/doc_vqa/Rerank/config/ernie_base_1.0_CN/ernie_config.json
  applications/document_intelligence/doc_vqa/Rerank/config/ernie_base_1.0_CN/vocab.txt
  applications/document_intelligence/doc_vqa/Rerank/run_test.sh
  applications/document_intelligence/doc_vqa/Rerank/run_train.sh
  applications/document_intelligence/doc_vqa/Rerank/src/batching.py
  applications/document_intelligence/doc_vqa/Rerank/src/cross_encoder.py
  applications/document_intelligence/doc_vqa/Rerank/src/finetune_args.py
  applications/document_intelligence/doc_vqa/Rerank/src/index_search.py
  applications/document_intelligence/doc_vqa/Rerank/src/merge.py
  applications/document_intelligence/doc_vqa/Rerank/src/model/ernie.py
  applications/document_intelligence/doc_vqa/Rerank/src/model/transformer_encoder.py
  applications/document_intelligence/doc_vqa/Rerank/src/optimization.py
  applications/document_intelligence/doc_vqa/Rerank/src/reader_ce.py
  applications/document_intelligence/doc_vqa/Rerank/src/tokenization.py
  applications/document_intelligence/doc_vqa/Rerank/src/train_ce.py
  applications/document_intelligence/doc_vqa/Rerank/src/utils/args.py
  applications/document_intelligence/doc_vqa/Rerank/src/utils/init.py
  applications/document_intelligence/doc_vqa/run_test.sh
Labels: document intelligence

#3524 fix prediction bug in qg example
  examples/question_generation/unimo-text/gen_utils.py
Labels: bugfix, question generation

#3535 Fix TinyBERT readme bug
  model_zoo/tinybert/README.md
Labels: model-compression

#3542 update docprompt pipeline example
  pipelines/examples/document-intelligence/README.md
  pipelines/examples/document-intelligence/requirements.txt
  pipelines/examples/document-intelligence/run_docprompt_server.sh
  pipelines/examples/document-intelligence/run_docprompt_web.sh
  pipelines/ui/webapp_docprompt_gradio.py
Labels: pipelines, document intelligence

#3561 Add GIF visualization for pipeline examples
  pipelines/examples/FAQ/README.md
  pipelines/examples/question-answering/README.md
  pipelines/examples/semantic-search/README.md
  pipelines/examples/text_to_image/README.md
Labels: documentation, pipelines

#3566 Fix dead link in text classification application
  applications/text_classification/README.md
  applications/text_classification/hierarchical/deploy/paddle_serving/README.md
  applications/text_classification/multi_class/deploy/paddle_serving/README.md
  applications/text_classification/multi_label/README.md
  applications/text_classification/multi_label/deploy/paddle_serving/README.md
Labels: text classification

#3560 add qg models and update readme
  docs/model_zoo/taskflow.md
  examples/question_generation/unimo-text/README.md
  paddlenlp/taskflow/taskflow.py
  paddlenlp/transformers/unimo/modeling.py
  paddlenlp/transformers/unimo/tokenizer.py
Labels: question generation

#3174 add bert config solution
  examples/language_model/roberta/run_pretrain.py
  model_zoo/bert/run_pretrain.py
  model_zoo/bert/static/run_pretrain.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/bert/configuration.py
  paddlenlp/transformers/bert/modeling.py
  paddlenlp/transformers/bert/modeling.pyi
  paddlenlp/transformers/configuration_utils.py
  paddlenlp/transformers/model_utils.py
  paddlenlp/transformers/roberta/configuration.py
  paddlenlp/transformers/roberta/modeling.py
  paddlenlp/transformers/tinybert/modeling.py
  paddlenlp/transformers/utils.py
  paddlenlp/utils/__init__.py
  paddlenlp/utils/import_utils.py
  tests/transformers/bert/test_modeling.py
  tests/transformers/roberta/test_modeling.py
  tests/transformers/test_configuration_common.py
  tests/transformers/test_configuration_utils.py
  tests/transformers/test_modeling_common.py
  tests/utils/test_import_utils.py
Labels: PR:ready for revivew

#3604 [NewFeature] add ppdiffusers CD workflow
  .github/workflows/pypi.yml
  .gitignore
  Makefile
  VERSION
  pipelines/ui/webapp_question_answering.py
  pipelines/ui/webapp_semantic_search.py
  ppdiffusers/Makefile
  ppdiffusers/VERSION
  ppdiffusers/ppdiffusers/__init__.py
  ppdiffusers/ppdiffusers/version.py
  ppdiffusers/scripts/should_deploy.py
  ppdiffusers/setup.py
  scripts/should_deploy.py
Labels: PR:ready for revivew

#3587 add soft link from examples to application for text classification
  examples/text_classification/README.md
  examples/text_classification/multi_label/README.md
  examples/text_classification/multi_label/data.py
  examples/text_classification/multi_label/deploy/python/predict.py
  examples/text_classification/multi_label/export_model.py
  examples/text_classification/multi_label/metric.py
  examples/text_classification/multi_label/model.py
  examples/text_classification/multi_label/predict.py
  examples/text_classification/multi_label/train.py
  examples/text_classification/pretrained_models
  examples/text_classification/pretrained_models/README.md
  examples/text_classification/pretrained_models/deploy/cpp/CMakeLists.txt
  examples/text_classification/pretrained_models/deploy/cpp/compile.sh
  examples/text_classification/pretrained_models/deploy/cpp/run.sh
  examples/text_classification/pretrained_models/deploy/cpp/seq_cls_infer.cc
  examples/text_classification/pretrained_models/deploy/cpp/tokenizer/CMakeLists.txt
  examples/text_classification/pretrained_models/deploy/cpp/tokenizer/tokenizer.cc
  examples/text_classification/pretrained_models/deploy/cpp/tokenizer/tokenizer.h
  examples/text_classification/pretrained_models/deploy/python/predict.py
  examples/text_classification/pretrained_models/deploy/serving/client.py
  examples/text_classification/pretrained_models/deploy/serving/export_servable_model.py
  examples/text_classification/pretrained_models/export_model.py
  examples/text_classification/pretrained_models/predict.py
  examples/text_classification/pretrained_models/train.py
  examples/text_classification/pretrained_models/utils.py
Labels: text classification
