Repository PaddlePaddle/PaddleNLP, pull requests merged in 2022-09, with the labels that each got.

#3161 update text classification readme
  applications/text_classification/README.md
  applications/text_classification/hierarchical/README.md
  applications/text_classification/multi_class/README.md
  applications/text_classification/multi_class/train.py
  applications/text_classification/multi_class/utils.py
  applications/text_classification/multi_label/README.md
  applications/text_classification/multi_label/analysis/README.md
  applications/text_classification/multi_label/train.py
  applications/text_classification/multi_label/utils.py
Labels: text classification

#3186 Update faq.md for faiss run error for pipelines
  pipelines/API.md
  pipelines/FAQ.md
  pipelines/examples/frequently-asked-question/README.md
  pipelines/examples/question-answering/Install_windows.md
  pipelines/examples/question-answering/README.md
  pipelines/examples/semantic-search/Install_windows.md
  pipelines/examples/semantic-search/README.md
Labels: documentation, bugfix, pipelines

#3136 Add data distillation for UIE
  model_zoo/uie/data_distill/README.md
  model_zoo/uie/data_distill/criterion.py
  model_zoo/uie/data_distill/data_collator.py
  model_zoo/uie/data_distill/data_distill.py
  model_zoo/uie/data_distill/evaluate.py
  model_zoo/uie/data_distill/metric.py
  model_zoo/uie/data_distill/train.py
  model_zoo/uie/data_distill/utils.py
  model_zoo/uie/doccano.py
  model_zoo/uie/utils.py
  paddlenlp/layers/__init__.py
  paddlenlp/layers/globalpointer.py
  paddlenlp/taskflow/information_extraction.py
  paddlenlp/taskflow/taskflow.py
  paddlenlp/taskflow/utils.py
Labels: taskflow, ie

#3184 text classification bug fix & support ernie m
  applications/text_classification/hierarchical/README.md
  applications/text_classification/hierarchical/analysis/evaluate.py
  applications/text_classification/hierarchical/predict.py
  applications/text_classification/hierarchical/train.py
  applications/text_classification/hierarchical/utils.py
  applications/text_classification/multi_class/README.md
  applications/text_classification/multi_class/analysis/evaluate.py
  applications/text_classification/multi_class/deploy/predictor/predictor.py
  applications/text_classification/multi_class/predict.py
  applications/text_classification/multi_class/prune.py
  applications/text_classification/multi_class/train.py
  applications/text_classification/multi_class/utils.py
  applications/text_classification/multi_label/README.md
  applications/text_classification/multi_label/analysis/evaluate.py
  applications/text_classification/multi_label/predict.py
  applications/text_classification/multi_label/train.py
  applications/text_classification/multi_label/utils.py
Labels: bugfix, text classification

#3192 Add UIE-M
  docs/model_zoo/taskflow.md
  model_zoo/uie/README.md
  model_zoo/uie/model.py
  paddlenlp/taskflow/information_extraction.py
  paddlenlp/taskflow/models/__init__.py
  paddlenlp/taskflow/models/information_extraction_model.py
  paddlenlp/taskflow/taskflow.py
  paddlenlp/transformers/ernie_m/tokenizer.py
Labels: taskflow, ie

#3202 Change Pipeline's name & Fix dense qa config & Add FAQ
  pipelines/FAQ.md
  pipelines/README.md
  pipelines/rest_api/pipeline/dense_qa.yaml
  pipelines/setup.py
  pipelines/utils/offline_ann.py
Labels: documentation, bugfix

#3208 Update setup.py and README Examples of pipelines
  pipelines/README.md
  pipelines/examples/frequently-asked-question/Install_windows.md
  pipelines/examples/frequently-asked-question/README.md
  pipelines/examples/question-answering/Install_windows.md
  pipelines/examples/question-answering/README.md
  pipelines/examples/semantic-search/Install_windows.md
  pipelines/examples/semantic-search/Neural_Search.md
  pipelines/examples/semantic-search/README.md
  pipelines/setup.py
Labels: documentation, pipelines

#3209 Update README.md
  pipelines/README.md
Labels: documentation, pipelines

#3222 Update bos url for UIE
  model_zoo/uie/data_distill/README.md
Labels: bugfix

#3221 源码安装htbuilder,避免windows安装失败
  pipelines/requirements.txt
Labels: bugfix, pipelines

#3217 Optimize text classification deploy
  applications/text_classification/README.md
  applications/text_classification/hierarchical/README.md
  applications/text_classification/hierarchical/analysis/evaluate.py
  applications/text_classification/hierarchical/deploy/paddle_serving/README.md
  applications/text_classification/hierarchical/deploy/paddle_serving/config.yml
  applications/text_classification/hierarchical/deploy/paddle_serving/rpc_client.py
  applications/text_classification/hierarchical/deploy/paddle_serving/service.py
  applications/text_classification/hierarchical/deploy/predictor/README.md
  applications/text_classification/hierarchical/deploy/predictor/infer.py
  applications/text_classification/hierarchical/deploy/predictor/predictor.py
  applications/text_classification/hierarchical/deploy/triton_serving/models/seqcls_model/config.pbtxt
  applications/text_classification/hierarchical/deploy/triton_serving/models/seqcls_postprocess/config.pbtxt
  applications/text_classification/hierarchical/deploy/triton_serving/models/tokenizer/1/model.py
  applications/text_classification/hierarchical/export_model.py
  applications/text_classification/hierarchical/train.py
  applications/text_classification/hierarchical/utils.py
  applications/text_classification/multi_class/README.md
  applications/text_classification/multi_class/deploy/paddle_serving/README.md
  applications/text_classification/multi_class/deploy/paddle_serving/config.yml
  applications/text_classification/multi_class/deploy/paddle_serving/service.py
  applications/text_classification/multi_class/deploy/predictor/README.md
  applications/text_classification/multi_class/deploy/predictor/infer.py
  applications/text_classification/multi_class/deploy/predictor/predictor.py
  applications/text_classification/multi_class/export_model.py
  applications/text_classification/multi_class/train.py
  applications/text_classification/multi_label/README.md
  applications/text_classification/multi_label/analysis/evaluate.py
  applications/text_classification/multi_label/deploy/paddle_serving/README.md
  applications/text_classification/multi_label/deploy/paddle_serving/config.yml
  applications/text_classification/multi_label/deploy/paddle_serving/service.py
  applications/text_classification/multi_label/deploy/predictor/README.md
  applications/text_classification/multi_label/deploy/predictor/infer.py
  applications/text_classification/multi_label/deploy/predictor/predictor.py
  applications/text_classification/multi_label/export_model.py
  applications/text_classification/multi_label/train.py
  applications/text_classification/multi_label/utils.py
Labels: text classification

#3237 Update README.md & Add more data into csv& change UI of Pipelines
  pipelines/FAQ.md
  pipelines/README.md
  pipelines/examples/semantic-search/README.md
  pipelines/ui/baike_qa.csv
  pipelines/ui/dureader_search.csv
  pipelines/ui/webapp_faq.py
  pipelines/ui/webapp_question_answering.py
  pipelines/ui/webapp_semantic_search.py
Labels: documentation, pipelines

#3246 Bug fix for analysis module of text classification
  applications/text_classification/multi_class/analysis/evaluate.py
Labels: text classification

#3260 [BugFix]update vocab_size in init_config
  paddlenlp/transformers/model_utils.py
Labels: bugfix

#3263 Update debug mode for relation prompt
  model_zoo/uie/README.md
  model_zoo/uie/data_distill/README.md
  model_zoo/uie/data_distill/data_distill.py
  model_zoo/uie/evaluate.py
  model_zoo/uie/finetune.py
  model_zoo/uie/utils.py
Labels: ie

#3286 Add dataset link to text classification readme
  applications/text_classification/README.md
Labels: text classification

#3295 fix bug of relation example is empty
  model_zoo/uie/utils.py
Labels: bug

#3234 Compression API Supports ERNIE-M and more Pretrained models
  docs/compression.md
  model_zoo/ernie-1.0/finetune/sequence_classification.py
  model_zoo/ernie-3.0/README.md
  paddlenlp/trainer/compression_args.py
  paddlenlp/trainer/trainer_compress.py
  paddlenlp/transformers/ofa_utils.py
  paddlenlp/transformers/tinybert/modeling.py
Labels: model-compression

#3300 Delete performance calculation during training process
  applications/text_classification/hierarchical/train.py
  applications/text_classification/multi_class/train.py
  applications/text_classification/multi_label/train.py
Labels: text classification

#3311 optimize sparse strategy in text classification
  applications/text_classification/hierarchical/analysis/README.md
  applications/text_classification/hierarchical/analysis/sparse.py
  applications/text_classification/multi_class/analysis/README.md
  applications/text_classification/multi_class/analysis/sparse.py
  applications/text_classification/multi_label/analysis/README.md
  applications/text_classification/multi_label/analysis/sparse.py
Labels: text classification

#3315 Add Docker compile Support for Pipelines
  pipelines/FAQ.md
  pipelines/README.md
  pipelines/docker/README.md
  pipelines/requirements.txt
Labels: enhancement, pipelines

#3330 Remove unused function of Pipelines
  pipelines/pipelines/pipelines/base.py
Labels: bugfix, pipelines

#3339 [few-shot] fix typo and failed links
  applications/text_classification/hierarchical/few-shot/README.md
  applications/text_classification/hierarchical/few-shot/train.py
  applications/text_classification/multi_class/few-shot/README.md
  applications/text_classification/multi_label/few-shot/README.md
Labels: bugfix, few-shot

#3350 Upgrade Neural Search README.md
  applications/neural_search/README.md
  applications/neural_search/run_system.py
  applications/neural_search/search_system/README.md
Labels: pipelines, neural-search

#3324 Compression API supports ELECTRA
  docs/compression.md
  paddlenlp/trainer/trainer_compress.py
Labels: model-compression

#3353 Fix the README description of Pipelines & Neural Search
  applications/neural_search/README.md
  pipelines/FAQ.md
  pipelines/README.md
  pipelines/docker/README.md
  pipelines/examples/FAQ/Install_windows.md
  pipelines/examples/question-answering/Install_windows.md
  pipelines/examples/semantic-search/Install_windows.md
Labels: documentation, pipelines

#3361 Compression API supports distributed training
  paddlenlp/trainer/trainer_compress.py
Labels: model-compression

#3363 Fix the semantic search example mistakes of pipelines
  pipelines/examples/semantic-search/semantic_search_example.py
Labels: bugfix, pipelines

#1799 【Hackathon + GradientCache】
  examples/semantic_indexing/NQdataset.py
  examples/semantic_indexing/README_gradient_cache.md
  examples/semantic_indexing/biencoder_base_model.py
  examples/semantic_indexing/dense_retriever.py
  examples/semantic_indexing/faiss_indexer.py
  examples/semantic_indexing/generate_dense_embeddings.py
  examples/semantic_indexing/gradient_cache/model.py
  examples/semantic_indexing/qa_validation.py
  examples/semantic_indexing/requirements.txt
  examples/semantic_indexing/run_ann_data_gen.py
  examples/semantic_indexing/tokenizers.py
  examples/semantic_indexing/train_gradient_cache.py
  examples/semantic_indexing/train_gradient_cache_DPR.py
Labels: contributions

#3391 Update README.md of neural search
  applications/neural_search/recall/in_batch_negative/README.md
Labels: documentation, neural-search
