Repository PaddlePaddle/PaddleNLP, pull requests merged in 2022-11, with the labels that each got.

#3385 add bad case analysis for text classification
  applications/text_classification/hierarchical/README.md
  applications/text_classification/hierarchical/analysis/README.md
  applications/text_classification/hierarchical/analysis/evaluate.py
  applications/text_classification/hierarchical/analysis/sent_interpret.py
  applications/text_classification/hierarchical/analysis/word_interpret.ipynb
  applications/text_classification/multi_class/README.md
  applications/text_classification/multi_class/analysis/README.md
  applications/text_classification/multi_class/analysis/evaluate.py
  applications/text_classification/multi_class/analysis/sent_interpret.py
  applications/text_classification/multi_class/analysis/word_interpret.ipynb
  applications/text_classification/multi_label/README.md
  applications/text_classification/multi_label/analysis/README.md
  applications/text_classification/multi_label/analysis/evaluate.py
  applications/text_classification/multi_label/analysis/sent_interpret.py
  applications/text_classification/multi_label/analysis/word_interpret.ipynb
Labels: text classification

#3496 Add compression for UIE
  docs/compression.md
  docs/index.rst
  model_zoo/uie/README.md
  model_zoo/uie/deploy/python/uie_predictor.py
  model_zoo/uie/export_model.py
  model_zoo/uie/finetune.py
  model_zoo/uie/model.py
  model_zoo/uie/utils.py
  paddlenlp/trainer/compression_args.py
  paddlenlp/trainer/trainer_base.py
  paddlenlp/trainer/trainer_compress.py
Labels: model-compression

#3645 Fix FAQ docx ui upload parsing support and reformat docx.py
  pipelines/examples/FAQ/README.md
  pipelines/pipelines/nodes/file_converter/docx.py
  pipelines/pipelines/nodes/preprocessor/preprocessor.py
  pipelines/rest_api/pipeline/dense_faq.yaml
  pipelines/ui/webapp_faq.py
Labels: bugfix, pipelines

#3651 [BugFix] fix typo
  docs/locale/en/LC_MESSAGES/source/paddlenlp.transformers.prophetnet.modeling.po
  paddlenlp/transformers/model_utils.py
  paddlenlp/transformers/prophetnet/modeling.py
  paddlenlp/transformers/t5/modeling.py
  pipelines/pipelines/nodes/reader/ernie_dureader.py
  ppdiffusers/examples/text_to_image/train_text_to_image.py
  ppdiffusers/ppdiffusers/schedulers/scheduling_pndm.py
  tests/transformers/test_configuration_common.py
Labels: PR:ready for revivew

#3653 Fix UIE eval
  model_zoo/uie/evaluate.py
  model_zoo/uie/finetune.py
  model_zoo/uie/utils.py
Labels: ie

#3665 Fix UIE README
  model_zoo/uie/README.md
Labels: documentation

#3687 Add Chinese and English version of CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT_en.md
Labels: contributions

#3696 Add `onnx_format` arg for Compression API
  model_zoo/uie/README.md
  paddlenlp/trainer/compression_args.py
  paddlenlp/trainer/trainer_compress.py
Labels: model-compression

#3712 Fix batch prediction bug and FAQ README of Pipelines
  pipelines/examples/FAQ/Install_windows.md
  pipelines/examples/FAQ/README.md
  pipelines/pipelines/nodes/ranker/ernie_ranker.py
Labels: pipelines

#3624 Add secondary development for pipelines examples
  pipelines/README.md
  pipelines/examples/FAQ/README.md
  pipelines/examples/question-answering/README.md
  pipelines/examples/semantic-search/README.md
Labels: documentation, pipelines

#3731 rename docprompt node in pipeline
  pipelines/examples/document-intelligence/docprompt_example.py
  pipelines/pipelines/pipelines/standard_pipelines.py
  pipelines/rest_api/pipeline/docprompt.yaml
Labels: pipelines

#3765 text_classification_application_bug_fix
  applications/text_classification/hierarchical/analysis/word_interpret.ipynb
  applications/text_classification/hierarchical/deploy/predictor/README.md
  applications/text_classification/multi_class/analysis/evaluate.py
  applications/text_classification/multi_class/analysis/word_interpret.ipynb
  applications/text_classification/multi_class/deploy/predictor/README.md
  applications/text_classification/multi_label/analysis/word_interpret.ipynb
  applications/text_classification/multi_label/deploy/predictor/README.md
Labels: text classification, application

#3724 [prompt] update prompt api & add prefix template
  applications/text_classification/hierarchical/few-shot/README.md
  applications/text_classification/hierarchical/few-shot/infer.py
  applications/text_classification/hierarchical/few-shot/requirements_cpu.txt
  applications/text_classification/hierarchical/few-shot/requirements_gpu.txt
  applications/text_classification/hierarchical/few-shot/train.py
  applications/text_classification/hierarchical/few-shot/utils.py
  applications/text_classification/multi_class/few-shot/README.md
  applications/text_classification/multi_class/few-shot/infer.py
  applications/text_classification/multi_class/few-shot/requirements_cpu.txt
  applications/text_classification/multi_class/few-shot/requirements_gpu.txt
  applications/text_classification/multi_class/few-shot/train.py
  applications/text_classification/multi_class/few-shot/utils.py
  applications/text_classification/multi_label/few-shot/README.md
  applications/text_classification/multi_label/few-shot/infer.py
  applications/text_classification/multi_label/few-shot/requirements_cpu.txt
  applications/text_classification/multi_label/few-shot/requirements_gpu.txt
  applications/text_classification/multi_label/few-shot/train.py
  applications/text_classification/multi_label/few-shot/utils.py
  docs/advanced_guide/prompt.md
  paddlenlp/prompt/prompt_args.py
  paddlenlp/prompt/prompt_tokenizer.py
  paddlenlp/prompt/prompt_trainer.py
  paddlenlp/prompt/prompt_utils.py
  paddlenlp/prompt/template.py
  paddlenlp/prompt/verbalizer.py
Labels: prompt

#3697 Add Gradient Cache&Recompute into Neural Search
  applications/neural_search/recall/in_batch_negative/README.md
  applications/neural_search/recall/in_batch_negative/batch_negative/model.py
  applications/neural_search/recall/in_batch_negative/scripts/run_build_index.sh
  applications/neural_search/recall/in_batch_negative/train_batch_neg.py
Labels: neural-search

#3778 [cblue] fix ValueError brought by the switch of TransformerEncoder in electra
  model_zoo/ernie-health/cblue/model.py
Labels: bugfix

#3785 link fix in text classification application
  applications/text_classification/README.md
  applications/text_classification/hierarchical/analysis/README.md
  applications/text_classification/hierarchical/deploy/triton_serving/README.md
  applications/text_classification/multi_class/analysis/README.md
  applications/text_classification/multi_class/deploy/triton_serving/README.md
  applications/text_classification/multi_label/README.md
  applications/text_classification/multi_label/analysis/README.md
  applications/text_classification/multi_label/deploy/triton_serving/README.md
Labels: text classification, application

#3538 [NewFeature] add paddlenlp command
  paddlenlp/cli/__init__.py
  paddlenlp/cli/converter.py
  paddlenlp/cli/download.py
  paddlenlp/cli/main.py
  paddlenlp/cli/requirements.txt
  paddlenlp/cli/utils/__init__.py
  paddlenlp/cli/utils/tabulate.py
  paddlenlp/transformers/__init__.py
  paddlenlp/transformers/bert/converter.py
  paddlenlp/transformers/clip/converter.py
  paddlenlp/transformers/electra/converter.py
  paddlenlp/transformers/electra/modeling.py
  paddlenlp/transformers/roberta/converter.py
  paddlenlp/transformers/roberta/modeling.py
  paddlenlp/transformers/utils.py
  paddlenlp/transformers/xlnet/converter.py
  paddlenlp/transformers/xlnet/modeling.py
  paddlenlp/utils/converter.py
  paddlenlp/utils/import_utils.py
  setup.py
  tests/transformers/test_utils.py
  tests/utils/test_converter.py
Labels: PR:ready for revivew

#3462 add p1 features to six models
  paddlenlp/transformers/albert/modeling.py
  paddlenlp/transformers/ernie/modeling.py
  paddlenlp/transformers/ernie_gram/modeling.py
  paddlenlp/transformers/ernie_m/modeling.py
  paddlenlp/transformers/roformer/modeling.py
  paddlenlp/transformers/skep/modeling.py
  paddlenlp/transformers/tinybert/modeling.py
  tests/transformers/albert/test_modeling.py
  tests/transformers/ernie/test_modeling.py
  tests/transformers/ernie_gram/test_modeling.py
  tests/transformers/ernie_m/test_modeling.py
  tests/transformers/roformer/test_modeling.py
  tests/transformers/skep/test_modeling.py
  tests/transformers/tinybert/test_modeling.py
Labels: PR:ready for revivew

#3679 Upgrade applications/text_classifications/multi_class to use Trainer API
  applications/text_classification/multi_class/README.md
  applications/text_classification/multi_class/train.py
  applications/text_classification/multi_class/utils.py
Labels: text classification

#3794 [prompt] remove unused arguments
  applications/text_classification/hierarchical/few-shot/README.md
  applications/text_classification/multi_class/few-shot/README.md
  applications/text_classification/multi_label/few-shot/README.md
  paddlenlp/prompt/prompt_args.py
Labels: prompt

#3865 Enable Dialogue taskflow to load from HF hub
  paddlenlp/taskflow/dialogue.py
  paddlenlp/taskflow/task.py
  paddlenlp/taskflow/taskflow.py
  paddlenlp/taskflow/utils.py
  paddlenlp/transformers/tokenizer_utils_base.py
Labels: taskflow

#3870 Fill mask Taskflow
  paddlenlp/taskflow/fill_mask.py
  paddlenlp/taskflow/taskflow.py
  tests/taskflow/test_fill_mask.py
Labels: taskflow

#3841 Text Classification Taskflow
  paddlenlp/taskflow/task.py
  paddlenlp/taskflow/taskflow.py
  paddlenlp/taskflow/text_classification.py
  tests/taskflow/test_text_classification.py
Labels: taskflow

#3843 [Bugfix]: add file checking before os.remove
  paddlenlp/transformers/model_utils.py
Labels: PR:ready for revivew

#3788 [Function optimization] use file-lock to enable multi-process downloading
  paddlenlp/transformers/model_utils.py
  paddlenlp/transformers/tokenizer_utils_base.py
  paddlenlp/utils/downloader.py
  paddlenlp/utils/env.py
  tests/transformers/test_modeling.py
  tests/transformers/test_modeling_utils.py
  tests/utils/test_file_lock.py
Labels: PR:ready for revivew

#3881 Add library name and version to hf_hub_download for better analytics
  paddlenlp/transformers/auto/modeling.py
  paddlenlp/transformers/auto/tokenizer.py
  paddlenlp/transformers/configuration_utils.py
  paddlenlp/transformers/model_utils.py
  paddlenlp/transformers/tokenizer_utils_base.py
  requirements.txt
Labels: hf_integration

#3906 Add Ernie Search base model into pipelines
  paddlenlp/transformers/ernie/modeling.py
  paddlenlp/transformers/ernie/tokenizer.py
  paddlenlp/transformers/semantic_search/modeling.py
  pipelines/API.md
  pipelines/pipelines/nodes/retriever/dense.py
  pipelines/rest_api/config.py
  pipelines/rest_api/controller/search.py
  pipelines/rest_api/pipeline/semantic_ernie_search_en.yaml
  pipelines/utils/offline_ann.py
Labels: pipelines

#3889 [prompt] add MaskedLMVerbalizer
  docs/advanced_guide/prompt.md
  paddlenlp/prompt/prompt_utils.py
  paddlenlp/prompt/verbalizer.py
Labels: prompt

#3924 [prompt] fix bug when no mask token in template
  paddlenlp/prompt/prompt_trainer.py
Labels: bugfix, prompt

#3935 Set default parameters to larger size and fix the file uploading erro…
  pipelines/README.md
  pipelines/examples/FAQ/README.md
  pipelines/examples/question-answering/README.md
  pipelines/examples/semantic-search/README.md
  pipelines/pipelines/__init__.py
  pipelines/pipelines/document_stores/elasticsearch.py
  pipelines/pipelines/nodes/__init__.py
  pipelines/pipelines/nodes/ranker/ernie_ranker.py
  pipelines/pipelines/nodes/retriever/dense.py
  pipelines/rest_api/controller/file_upload.py
Labels: bugfix, pipelines

#3948 fix random rank in pdc
  tests/test_tipc/dygraph/hybrid_parallelism/gpt/benchmark_common/run_benchmark.sh
  tests/test_tipc/dygraph/moe/gpt/benchmark_common/run_benchmark.sh
Labels: contributor, status: proposed

#3960 [trainer] fix bug when batch size=1
  paddlenlp/trainer/trainer.py
Labels: bugfix

#3963 [PPdiffusers] Release ppdiffusers 0.6.3
  ppdiffusers/VERSION
  ppdiffusers/requirements.txt
Labels: contributor, status: proposed
