Repository PaddlePaddle/PaddleNLP, pull requests merged in 2022-08, with the labels that each got.

#2885 Add Mac system support of pipelines
  applications/experimental/pipelines/examples/semantic-search/README.md
  applications/experimental/pipelines/examples/semantic-search/semantic_search_example.py
  applications/experimental/pipelines/pipelines/nodes/reader/ernie_dureader.py
  applications/experimental/pipelines/requirements-cpu.txt
  applications/experimental/pipelines/setup.py
  applications/experimental/pipelines/ui/webapp_semantic_search.py
Labels: bugfix, pipelines

#2903 Add Windows system support of pipelines
  applications/experimental/pipelines/examples/question-answering/Install_windows.md
  applications/experimental/pipelines/examples/question-answering/README.md
  applications/experimental/pipelines/examples/question-answering/dense_qa_example.py
  applications/experimental/pipelines/examples/semantic-search/Install_windows.md
  applications/experimental/pipelines/examples/semantic-search/README.md
  applications/experimental/pipelines/examples/semantic-search/semantic_search_example.py
  applications/experimental/pipelines/requirements.txt
  applications/experimental/pipelines/utils/offline_ann.py
Labels: enhancement, pipelines

#2934 Fix the dead links
  applications/neural_search/img/mem.png
  applications/neural_search/recall/milvus/README.md
  applications/text_classification/hierarchical/deploy/paddle_serving/README.md
Labels: bugfix, text classification, pipelines

#2839 Make a backup for HF datasets
  examples/benchmark/clue/mrc/run_c3.py
  examples/benchmark/clue/mrc/run_chid.py
  paddlenlp/__init__.py
  paddlenlp/datasets/hf_datasets/clue.py
  paddlenlp/datasets/hf_datasets/cmrc2018.py
  paddlenlp/datasets/hf_datasets/mt_eng_vietnamese.py
  paddlenlp/datasets/hf_datasets/ptb_text_only.py
Labels: dataset

#2901 add hf dataset builder for cote, chnsenticorp, seabsa16
  paddlenlp/datasets/hf_datasets/chnsenticorp.py
  paddlenlp/datasets/hf_datasets/cote.py
  paddlenlp/datasets/hf_datasets/seabsa16.py
Labels: dataset

#2939 Remove unused setup.py and Update readme.md of pipelines
  applications/experimental/pipelines/examples/question-answering/Install_windows.md
  applications/experimental/pipelines/examples/question-answering/README.md
  applications/experimental/pipelines/examples/semantic-search/Install_windows.md
  applications/experimental/pipelines/examples/semantic-search/README.md
  applications/experimental/pipelines/rest_api/setup.py
  applications/experimental/pipelines/setup.py
  applications/experimental/pipelines/ui/Dockerfile
  applications/experimental/pipelines/ui/setup.py
Labels: bugfix, pipelines

#2868 optimize text classification application
  applications/text_classification/README.md
  applications/text_classification/doccano.md
  applications/text_classification/doccano.py
  applications/text_classification/hierarchical/README.md
  applications/text_classification/hierarchical/deploy/paddle_serving/README.md
  applications/text_classification/hierarchical/deploy/paddle_serving/config.yml
  applications/text_classification/hierarchical/deploy/paddle_serving/rpc_client.py
  applications/text_classification/hierarchical/deploy/paddle_serving/service.py
  applications/text_classification/hierarchical/deploy/predictor/README.md
  applications/text_classification/hierarchical/deploy/predictor/infer.py
  applications/text_classification/hierarchical/deploy/predictor/predictor.py
  applications/text_classification/hierarchical/deploy/triton_serving/README.md
  applications/text_classification/hierarchical/deploy/triton_serving/models/seqcls/config.pbtxt
  applications/text_classification/hierarchical/deploy/triton_serving/models/seqcls_model/config.pbtxt
  applications/text_classification/hierarchical/deploy/triton_serving/seqcls_grpc_client.py
  applications/text_classification/hierarchical/predict.py
  applications/text_classification/hierarchical/prune.py
  applications/text_classification/hierarchical/prune_config.json
  applications/text_classification/hierarchical/prune_trainer.py
  applications/text_classification/hierarchical/requirements.txt
  applications/text_classification/hierarchical/train.py
  applications/text_classification/hierarchical/utils.py
  applications/text_classification/multi_class/README.md
  applications/text_classification/multi_class/deploy/paddle_serving/README.md
  applications/text_classification/multi_class/deploy/paddle_serving/config.yml
  applications/text_classification/multi_class/deploy/paddle_serving/service.py
  applications/text_classification/multi_class/deploy/predictor/README.md
  applications/text_classification/multi_class/deploy/predictor/infer.py
  applications/text_classification/multi_class/deploy/triton_serving/README.md
  applications/text_classification/multi_class/deploy/triton_serving/models/seqcls/config.pbtxt
  applications/text_classification/multi_class/deploy/triton_serving/models/seqcls_model/config.pbtxt
  applications/text_classification/multi_class/deploy/triton_serving/models/tokenizer/1/model.py
  applications/text_classification/multi_class/predict.py
  applications/text_classification/multi_class/prune.py
  applications/text_classification/multi_class/prune_config.json
  applications/text_classification/multi_class/prune_trainer.py
  applications/text_classification/multi_class/train.py
  applications/text_classification/multi_label/README.md
  applications/text_classification/multi_label/deploy/paddle_serving/README.md
  applications/text_classification/multi_label/deploy/paddle_serving/config.yml
  applications/text_classification/multi_label/deploy/paddle_serving/rpc_client.py
  applications/text_classification/multi_label/deploy/paddle_serving/service.py
  applications/text_classification/multi_label/deploy/predictor/README.md
  applications/text_classification/multi_label/deploy/predictor/infer.py
  applications/text_classification/multi_label/deploy/triton_serving/README.md
  applications/text_classification/multi_label/deploy/triton_serving/models/seqcls/config.pbtxt
  applications/text_classification/multi_label/deploy/triton_serving/models/seqcls_model/config.pbtxt
  applications/text_classification/multi_label/deploy/triton_serving/models/seqcls_postprocess/config.pbtxt
  applications/text_classification/multi_label/deploy/triton_serving/models/tokenizer/1/model.py
  applications/text_classification/multi_label/deploy/triton_serving/seqcls_grpc_client.py
  applications/text_classification/multi_label/predict.py
  applications/text_classification/multi_label/prune.py
  applications/text_classification/multi_label/prune_config.json
  applications/text_classification/multi_label/prune_trainer.py
  applications/text_classification/multi_label/requirements.txt
  applications/text_classification/multi_label/train.py
Labels: text classification

#2930 Add data augmentation strategy
  docs/augmentation.md
  paddlenlp/data_augmentation/__init__.py
  paddlenlp/data_augmentation/base_augment.py
  paddlenlp/data_augmentation/word/__init__.py
  paddlenlp/data_augmentation/word_delete.py
  paddlenlp/data_augmentation/word_insert.py
  paddlenlp/data_augmentation/word_substitute.py
  paddlenlp/data_augmentation/word_swap.py
Labels: data augmentation

#2954 Fix random generate question ui error and search results re display of pipelines
  applications/experimental/pipelines/ui/baike_qa.csv
  applications/experimental/pipelines/ui/dureader_search.csv
  applications/experimental/pipelines/ui/webapp_question_answering.py
  applications/experimental/pipelines/ui/webapp_semantic_search.py
Labels: bugfix, pipelines

#2956 Data augmentation API name change & bug fix
  docs/dataaug.md
  paddlenlp/__init__.py
  paddlenlp/dataaug/__init__.py
  paddlenlp/dataaug/base_augment.py
  paddlenlp/dataaug/word_delete.py
  paddlenlp/dataaug/word_insert.py
  paddlenlp/dataaug/word_substitute.py
  paddlenlp/dataaug/word_swap.py
Labels: bugfix, data augmentation

#2945 Add and upgrade to Milvus2.0 support for neural search
  applications/neural_search/img/attu.png
  applications/neural_search/recall/in_batch_negative/README.md
  applications/neural_search/recall/in_batch_negative/export_model.py
  applications/neural_search/recall/milvus/README.md
  applications/neural_search/recall/milvus/config.py
  applications/neural_search/recall/milvus/embedding_insert.py
  applications/neural_search/recall/milvus/embedding_recall.py
  applications/neural_search/recall/milvus/feature_extract.py
  applications/neural_search/recall/milvus/inference.py
  applications/neural_search/recall/milvus/milvus_ann_search.py
  applications/neural_search/recall/milvus/milvus_insert.py
  applications/neural_search/recall/milvus/milvus_recall.py
  applications/neural_search/recall/milvus/milvus_util.py
  applications/neural_search/recall/milvus/scripts/feature_extract.sh
  applications/neural_search/recall/milvus/scripts/search.sh
  applications/neural_search/recall/milvus/server_config.yml
  applications/neural_search/requirements.txt
Labels: enhancement, pipelines

#2965 Fix faiss index batch_size bug on python3.7 and update es config for …
  applications/experimental/pipelines/examples/question-answering/Install_windows.md
  applications/experimental/pipelines/examples/question-answering/README.md
  applications/experimental/pipelines/examples/semantic-search/Install_windows.md
  applications/experimental/pipelines/examples/semantic-search/README.md
  applications/experimental/pipelines/examples/semantic-search/semantic_search_example.py
  applications/experimental/pipelines/pipelines/document_stores/faiss.py
  applications/experimental/pipelines/utils/offline_ann.py
Labels: bugfix, pipelines

#3006 fix tokenizer encode bug for layoutxlm
  examples/multimodal/layoutxlm/xfun.py
Labels: bugfix

#2935 add support for wo visual backbone
  paddlenlp/transformers/layoutlmv2/modeling.py
  paddlenlp/transformers/layoutxlm/modeling.py
Labels: contributions

#2997 Add Docker Support for pipelines
  applications/experimental/pipelines/examples/semantic-search/README.md
  applications/experimental/pipelines/examples/semantic-search/docker/Dockerfile
  applications/experimental/pipelines/examples/semantic-search/docker/Dockerfile-GPU
  applications/experimental/pipelines/examples/semantic-search/docker/build_index.sh
  applications/experimental/pipelines/examples/semantic-search/docker/run_client.sh
  applications/experimental/pipelines/examples/semantic-search/docker/run_server.sh
  applications/experimental/pipelines/examples/semantic-search/docker/start.sh
Labels: enhancement, pipelines

#2777 Add model compression API
  model_zoo/ernie-3.0/compress_qa.py
  model_zoo/ernie-3.0/compress_seq_cls.py
  model_zoo/ernie-3.0/compress_token_cls.py
  model_zoo/ernie-3.0/config.yml
  paddlenlp/trainer/__init__.py
  paddlenlp/trainer/compression_args.py
  paddlenlp/trainer/trainer_compress.py
  paddlenlp/transformers/ofa_utils.py
Labels: model-compression

#3019 Add ERNIE 3.0 based RocketQA Ranker models
  docs/model_zoo/transformers/ERNIE/contents.rst
  paddlenlp/transformers/ernie/modeling.py
  paddlenlp/transformers/ernie/tokenizer.py
Labels: text-similarity, ernie-3.0

#3033 Add ERNIE 3.0 based rocketqa DualEncoder models
  docs/model_zoo/transformers/ERNIE/contents.rst
  paddlenlp/transformers/ernie/modeling.py
  paddlenlp/transformers/ernie/tokenizer.py
  paddlenlp/transformers/semantic_search/modeling.py
Labels: text-similarity, ernie-3.0

#2894 [prompt] add prompt and text classification examples
  applications/text_classification/hierarchical/few-shot/README.md
  applications/text_classification/hierarchical/few-shot/infer.py
  applications/text_classification/hierarchical/few-shot/train.py
  applications/text_classification/hierarchical/few-shot/utils.py
  applications/text_classification/multi_class/few-shot/README.md
  applications/text_classification/multi_class/few-shot/infer.py
  applications/text_classification/multi_class/few-shot/train.py
  applications/text_classification/multi_class/few-shot/utils.py
  applications/text_classification/multi_label/few-shot/README.md
  applications/text_classification/multi_label/few-shot/infer.py
  applications/text_classification/multi_label/few-shot/train.py
  applications/text_classification/multi_label/few-shot/utils.py
  paddlenlp/__init__.py
  paddlenlp/prompt/__init__.py
  paddlenlp/prompt/prompt_args.py
  paddlenlp/prompt/prompt_tokenizer.py
  paddlenlp/prompt/prompt_trainer.py
  paddlenlp/prompt/prompt_utils.py
  paddlenlp/prompt/template.py
  paddlenlp/prompt/verbalizer.py
  paddlenlp/trainer/trainer_base.py
  paddlenlp/transformers/ernie/modeling.py
  paddlenlp/transformers/ernie/tokenizer.py
Labels: few-shot

#3020 Update compression API and docs
  docs/compression.md
  model_zoo/ernie-3.0/README.md
  model_zoo/ernie-3.0/compress_qa.py
  model_zoo/ernie-3.0/compress_seq_cls.py
  model_zoo/ernie-3.0/compress_token_cls.py
  model_zoo/ernie-3.0/config.yml
  paddlenlp/metrics/squad.py
  paddlenlp/trainer/compression_args.py
  paddlenlp/trainer/trainer_compress.py
  paddlenlp/transformers/ofa_utils.py
Labels: model-compression

#3070 Update auto model function for compression API
  docs/compression.md
  model_zoo/ernie-3.0/README.md
  model_zoo/ernie-3.0/compress_qa.py
  model_zoo/ernie-3.0/compress_token_cls.py
  model_zoo/ernie-3.0/config.yml
  paddlenlp/trainer/compression_args.py
  paddlenlp/trainer/trainer_compress.py
Labels: model-compression

#3078 Add ernie 3.0 based rocketqa into pipelines
  paddlenlp/transformers/semantic_search/modeling.py
  pipelines/examples/semantic-search/README.md
  pipelines/examples/semantic-search/docker/Dockerfile
  pipelines/examples/semantic-search/docker/Dockerfile-GPU
  pipelines/examples/semantic-search/docker/create_index.sh
  pipelines/examples/semantic-search/docker/start.sh
  pipelines/pipelines/nodes/file_converter/image.py
  pipelines/rest_api/pipeline/semantic_search.yaml
  pipelines/utils/offline_ann.py
Labels: enhancement, bugfix, pipelines

#3062 [prompt] fix hash problem while exporting model
  applications/text_classification/hierarchical/few-shot/README.md
  applications/text_classification/multi_class/few-shot/README.md
  applications/text_classification/multi_label/few-shot/README.md
  paddlenlp/prompt/prompt_utils.py
Labels: few-shot, prompt

#3003 Add text semantic matching for taskflow
  docs/model_zoo/taskflow.md
  paddlenlp/taskflow/taskflow.py
  paddlenlp/taskflow/text_similarity.py
  paddlenlp/transformers/semantic_search/modeling.py
Labels: taskflow, text-similarity, pipelines

#3092 Update search tutorials for pipelines and README
  pipelines/README.md
  pipelines/examples/question-answering/Install_windows.md
  pipelines/examples/question-answering/README.md
  pipelines/examples/question-answering/run_qa_server.sh
  pipelines/examples/question-answering/run_qa_web.sh
  pipelines/examples/semantic-search/Install_windows.md
  pipelines/examples/semantic-search/README.md
  pipelines/examples/semantic-search/run_search_server.sh
  pipelines/examples/semantic-search/run_search_web.sh
Labels: documentation, pipelines

#3011 add analysis module in text classification application
  applications/text_classification/doccano.md
  applications/text_classification/doccano.py
  applications/text_classification/hierarchical/README.md
  applications/text_classification/hierarchical/analysis/README.md
  applications/text_classification/hierarchical/analysis/aug.py
  applications/text_classification/hierarchical/analysis/dirty.py
  applications/text_classification/hierarchical/analysis/evaluate.py
  applications/text_classification/hierarchical/analysis/sparse.py
  applications/text_classification/hierarchical/deploy/paddle_serving/rpc_client.py
  applications/text_classification/hierarchical/deploy/predictor/README.md
  applications/text_classification/hierarchical/deploy/predictor/infer.py
  applications/text_classification/hierarchical/deploy/triton_serving/seqcls_grpc_client.py
  applications/text_classification/hierarchical/export_model.py
  applications/text_classification/hierarchical/predict.py
  applications/text_classification/hierarchical/prune.py
  applications/text_classification/hierarchical/train.py
  applications/text_classification/multi_class/README.md
  applications/text_classification/multi_class/analysis/README.md
  applications/text_classification/multi_class/analysis/aug.py
  applications/text_classification/multi_class/analysis/dirty.py
  applications/text_classification/multi_class/analysis/evaluate.py
  applications/text_classification/multi_class/analysis/sparse.py
  applications/text_classification/multi_class/deploy/predictor/infer.py
  applications/text_classification/multi_class/export_model.py
  applications/text_classification/multi_class/predict.py
  applications/text_classification/multi_class/prune.py
  applications/text_classification/multi_class/train.py
  applications/text_classification/multi_class/utils.py
  applications/text_classification/multi_label/README.md
  applications/text_classification/multi_label/analysis/README.md
  applications/text_classification/multi_label/analysis/aug.py
  applications/text_classification/multi_label/analysis/dirty.py
  applications/text_classification/multi_label/analysis/evaluate.py
  applications/text_classification/multi_label/analysis/sparse.py
  applications/text_classification/multi_label/deploy/predictor/infer.py
  applications/text_classification/multi_label/export_model.py
  applications/text_classification/multi_label/predict.py
  applications/text_classification/multi_label/prune.py
  applications/text_classification/multi_label/train.py
Labels: text classification, data augmentation, trustai

#3107 [nptag] disable ir optimization for nptag
  examples/text_to_knowledge/nptag/deploy/python/predict.py
  paddlenlp/taskflow/knowledge_mining.py
Labels: text-to-knowledge

#3104 [few-shot] Update README
  applications/text_classification/hierarchical/few-shot/README.md
  applications/text_classification/hierarchical/few-shot/train.py
  applications/text_classification/multi_class/few-shot/README.md
  applications/text_classification/multi_class/few-shot/train.py
  applications/text_classification/multi_label/few-shot/README.md
  applications/text_classification/multi_label/few-shot/train.py
  paddlenlp/prompt/prompt_trainer.py
  paddlenlp/prompt/template.py
  paddlenlp/prompt/verbalizer.py
Labels: few-shot

#3108 [wordtag] update parameters for wordtag
  paddlenlp/taskflow/knowledge_mining.py
  paddlenlp/taskflow/named_entity_recognition.py
Labels: text-to-knowledge

#3094 Fix semantic search modeling
  paddlenlp/transformers/semantic_search/modeling.py
Labels: bugfix

#3103 Update compression API doc
  docs/compression.md
  model_zoo/ernie-3.0/README.md
  paddlenlp/trainer/compression_args.py
  paddlenlp/trainer/trainer_compress.py
  paddlenlp/transformers/ofa_utils.py
Labels: documentation, model-compression

#3097 Add Docx Image display support for pipelines and Update Docker config
  pipelines/examples/semantic-search/docker/Dockerfile
  pipelines/examples/semantic-search/docker/Dockerfile-GPU
  pipelines/examples/semantic-search/docker/create_index.sh
  pipelines/examples/semantic-search/docker/dense_qa.yaml
  pipelines/examples/semantic-search/docker/run_server.sh
  pipelines/examples/semantic-search/docker/semantic_search.yaml
  pipelines/examples/semantic-search/docker/start.sh
  pipelines/pipelines/nodes/file_converter/docx.py
  pipelines/pipelines/nodes/retriever/dense.py
  pipelines/rest_api/config.py
  pipelines/rest_api/controller/file_upload.py
  pipelines/rest_api/controller/search.py
  pipelines/ui/dureader_search.csv
  pipelines/ui/utils.py
  pipelines/ui/webapp_semantic_search.py
Labels: enhancement, pipelines

#3087 Change Prune Module by Compression API in Text Classification Application
  applications/text_classification/hierarchical/README.md
  applications/text_classification/hierarchical/prune.py
  applications/text_classification/hierarchical/prune_trainer.py
  applications/text_classification/multi_class/README.md
  applications/text_classification/multi_class/prune.py
  applications/text_classification/multi_class/prune_trainer.py
  applications/text_classification/multi_label/README.md
  applications/text_classification/multi_label/prune.py
  applications/text_classification/multi_label/prune_trainer.py
Labels: text classification

#3135 Add Docker images& Docker compose files for pipelines
  pipelines/README.md
  pipelines/docker/Dockerfile
  pipelines/docker/Dockerfile-GPU
  pipelines/docker/README.md
  pipelines/docker/create_index.sh
  pipelines/docker/dense_qa.yaml
  pipelines/docker/docker-compose-gpu.yml
  pipelines/docker/docker-compose.yml
  pipelines/docker/run_client.sh
  pipelines/docker/run_server.sh
  pipelines/docker/semantic_search.yaml
  pipelines/docker/start.sh
  pipelines/docker/start_compose.sh
  pipelines/examples/semantic-search/README.md
Labels: enhancement, pipelines

#3102 Add FAQ applications for pipelines
  pipelines/examples/frequently-asked-question/README.md
  pipelines/examples/frequently-asked-question/dense_faq_example.py
  pipelines/examples/frequently-asked-question/run_faq_server.sh
  pipelines/examples/frequently-asked-question/run_faq_web.sh
  pipelines/pipelines/utils/preprocessing.py
  pipelines/rest_api/pipeline/dense_faq.yaml
  pipelines/ui/insurance_faq.csv
  pipelines/ui/utils.py
  pipelines/ui/webapp_faq.py
  pipelines/utils/offline_ann.py
Labels: enhancement, pipelines

#3151 Add FAQ tutorials for pipelines
  pipelines/README.md
  pipelines/requirements.txt
Labels: enhancement, pipelines

#3132 optimize_text_classification_readme
  applications/text_classification/README.md
  applications/text_classification/hierarchical/README.md
  applications/text_classification/hierarchical/train.py
  applications/text_classification/hierarchical/utils.py
Labels: enhancement, text classification

#2959 fix the bug that device_id invalid in fp16 mode
  model_zoo/uie/README.md
  model_zoo/uie/deploy/python/infer_gpu.py
  model_zoo/uie/deploy/python/uie_predictor.py
  paddlenlp/taskflow/information_extraction.py
  paddlenlp/taskflow/task.py
Labels: bugfix, taskflow

#3160 Add Benchmark README.md& Optimize Pipelines README.md
  pipelines/FAQ.md
  pipelines/README.md
  pipelines/benchmarks/README.md
  pipelines/examples/frequently-asked-question/README.md
  pipelines/examples/question-answering/Install_windows.md
  pipelines/examples/question-answering/README.md
  pipelines/examples/semantic-search/Install_windows.md
  pipelines/examples/semantic-search/README.md
  pipelines/pipelines/utils/import_utils.py
Labels: documentation, pipelines

#3162 Update text similarity for taskflow.md
  docs/model_zoo/taskflow.md
Labels: taskflow, text-similarity
